* {
  margin: 0;
  padding: 0;
}

/* first container */
nav {
  display: flex;
  justify-content: space-around;
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
  padding-top: 25px;
  color: #f9faf8;
  font-size: 18px;
}

p {
  font-size: 18px;
  font-weight: normal;
  color: #e5e7eb;
}

h2 {
  line-height: 70px;
}

.header-container {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 20px;
  margin-top: 100px;
  display: flex;
}

.first-text {
  padding-top: 10px;
}

.logo-container {
  color: #f9faf8;
  padding-top: 20px;
  font-size: 24px;
}

.first-container {
  background-color: #1f2937;
  width: 100%;
}

.placeholder {
  font-size: 15px;
  height: 250px;
  background-color: gray;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 150px;
  margin-bottom: 60px;
}

.text-container {
  width: 50%;
  margin-left: 100px;
  margin-right: 100px;
}

button {
  background-color: #3882f6;
  color: #ffffff;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  width: 100px;
  font-weight: bold;
}

/* second container */

.title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  padding-top: 50px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.square {
  border: 5px solid #3882f6;
  width: 150px;
  height: 150px;
  margin-top: 50px;
  border-radius: 10px;
}

.text {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 60px;
  padding-bottom: 50px;
}

.p-text {
  padding-top: 10px;
  color: #1f2937;
  width: 150px;
  margin-bottom: 60px;
}

/* third container */

.third-container {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: lighter;
  width: 800px;
  padding-bottom: 10px;
  padding-top: 60px;
}

.author {
  font-size: 24px;
  font-weight: bold;
  color: #1f2937;
  align-self: flex-end;
  padding-right: 280px;
  padding-top: 10px;
  margin-bottom: 50px;
}

/* fourth container */

.fourth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0 50px 0;
  margin: 50px 0 50px 0;
}

.cta {
  background-color: #3882f6;
  color: #ffffff;
  gap: 20px;
  padding: 40px 50px 40px 50px;
  border-radius: 10px;
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sign-up {
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  width: 100px;
  background-color: #3882f6;
  font-weight: bold;
}

/* footer */

.footer {
  background-color: #1f2937;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
